body
{
  background-color:#000;
  font-size: 18px;
}

body > .container {
    background-color: #FFF;
    border-radius: 4px;
    padding: 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}
.header-inner
{
  text-align:center;
  padding-top:15px;
}
.site-title
{
  font-size: 950%;
  line-height: 48px;
  font-weight: bold;
  margin-left:auto;
  margin-right:auto;
  font-/stretch: extra-expanded;
  letter-spacing: 29px;
  font-weight: bold;
  text-align:center;
}
.site-description
{
  padding-top:15px;
}
.site-title, .site-description
{
  color: #000;
}

.brand:hover
{
  text-decoration: none;
  color: #046;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .site-title {
    font-size:380%;
    letter-spacing: 15px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .site-title {
    font-size:280%;
    letter-spacing: normal;
    }
}

.navigation {
    padding: 5px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 10px;
}

nav a
{
  color: #050505;
}

div#home .jumbotron
{
  background-color: inherit;
}

#home .glyphicon
{
  padding-right: 10px;
}

.center-pills
{
  display: inline-block;
}


#social-home-icons a{
    color: #000;
}

.footer i{
    color: #fff;
}

/* .nav-pills > li.active > a { */
/*     background-color:red; */
/* } */
/* // This changes the color of the active */

/* .nav-pills>li.active>a:hover { */
/*     background-color:red; */
/* } */
/* .footer li:hover, .footer li:active, .footer li:focus, .footer i:hover, */
/* .footer a:hover, .footer a:active, .footer a:focus{ */
/*     color: #000 !important; */
/*     background-color:#fff !important; */
/* } */
.navigation .nav>li>a:hover,
.navigation .nav>li>a:focus,
.language-selector a:hover,
.language-selector a:focus{
    text-decoration: none;
    background-color: #eee;
    color: black;
}

.language-selector a{
    color: black;
}

.footer .nav>li>a:hover,
.footer .nav>li>a:focus {
    text-decoration: none;
    background-color: #111;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */


/*****************************************************************************************/
/* Bigger fontawesome sizes								 */
/* http://keenthemes.com/forums/topic/why-font-awesome-icons-resizing-dont-work-anymore/ */
/*****************************************************************************************/

.fa-6x {
    font-size: 6em !important;
}
.fa-7x {
    font-size: 7em !important;
}
.fa-8x {
    font-size: 8em !important;
}
.fa-9x {
    font-size: 9em !important;
}
.fa-10x {
    font-size: 10em !important;
}
.fa-11x {
    font-size: 11em !important;
}
.fa-12x {
    font-size: 12em !important;
}
.fa-13x {
    font-size: 13em !important;
}
.fa-14x {
  font-size: 14em !important;}