<!-- Footer -->
<footer class="container footer">

    <hr style="background-color:white" />

    <div class="row pt-1 mt-1">
	<div class="col-sm text-center text-sm-left align-middle">
	    {% unless page.layout == 'home' %}
	    <figure class="figure">
		<img src="{% link /assets/img/logo-small.png %}" class="figure-img img-fluid rounded" alt="marcanuy logo">
		<figcaption class="figure-caption" style="color:white">&copy; marcanuy {{ 'now' | date: "%Y" }}</figcaption>
	    </figure>
	    {% endunless %}
	</div>
	<div class="col-sm text-center align-middle">
	    {% include lang_nav.html %}
	</div>
	<div class="col-sm text-center text-sm-right align-middle">
	    {% unless page.layout == 'home' %}
	    <ul class="nav menu nav-pills justify-content-center justify-content-sm-right">
		{% for profile in site.data.socialnetworks %}
		<li class="px-1 align-middle">
		    <a href="{{ profile[1].url }}" title="{{ profile[1].link_title }}" >
			<i class="fa {{ profile[1].icon_fa_class }} fa-2x" aria-hidden="true"></i>
		    </a>
		</li>
		{% endfor %}
	    </ul>
	    {% endunless %}
	</div>
    </div>
</footer>
