---
layout: default
is_home: true
---
<article>
  {{ content }}
  <div id="home" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Marcelo Canina" />
    <meta itemprop="additionalName" content="marcanuy" />
    <meta itemprop="email" content="me@marcanuy.com" />
    <meta itemprop="familyName" content="Canina" />
    <meta itemprop="url" content="{{ page.url }}" />
    <meta itemprop="additionalName" content="marcanuy" />
    
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6" itemprop="description">
	  <h1>{{ page.myself.header}}</h1>
	  <p> <span class="glyphicon glyphicon-map-marker"></span>{{ page.myself.location }}</p>
	  <p><span class="glyphicon glyphicon-floppy-disk"></span>{{ page.myself.studies }}</p>
	  <p><span class="glyphicon glyphicon-thumbs-up"></span>{{ page.myself.hobbies }}</p>
	</div>
	<div class="col-md-6">
          <img class="pull-right img-circle img-responsive" src="/img/icons/marcanuy-main-rounded.png" itemprop="image" />
	</div>
      </div>
    </div> <!-- end row -->
  </div>
  </div>

  <!-- Social networks big icons -->
  <div class="container center-block">
    <div class="row center-block" >
      <div class="center-block" >
	<ul class="nav nav-pills center-block" >
	  {% for profile in site.data.socialnetworks %}
	  <li>
	    <a href="{{ profile[1].url }}" title="{{ profile[1].title }}" >
	      <img src="{{ profile[1].icon_big }}" alt="{{ profile[1].icon_alt }}" />
	    </a>
	  </li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
</article>
