---
layout: default
---

<article itemscope itemtype="http://schema.org/Article">

  <meta itemprop="description" content="{{ page.description }}" />
  <meta itemprop="url" content="{{ site.url }}{{ page.url }}" />
  <meta itemprop="name" content="{{ page.title}}" />
  <meta itemprop="inLanguage" content="{{ page.lang }}" />
  <meta itemprop="author" content="Marcelo Canina" />

  <div class="page-header">
    <h1 itemprop="headline">
      {{ page.title }}
      <small>{{ page.subtitle }}</small>
    </h1>
  </div>
  <p class="text-muted">
    {{ site.data.trans.[page.lang].created }}: 
    <span itemprop="datePublished">{{ page.date | date: "%F" }}</span>
  </p>
  <div itemprop="articleBody">
    {{ content }}

    {% if page.urls %}
    <h2>{{ site.data.trans.[page.lang].projects.urls }}</h2>
    <div class="list-group lead">
      {% for url in page.urls %}
      <a href="{{ url }}" class="list-group-item list-group-item-info">
	<i class="fa fa-external-link fa-1x"></i>
	<strong>
          {{ url | remove:'http://' | remove:'https://' }}
	</strong>
      </a>
      {% endfor %}
    </div>
    {% endif %}
    
    {% if page.subjects %}
    <h2>{{ site.data.trans.[page.lang].subjects }}</h2>
    <ul>
      {% for subject in page.subjects %}
      <li itemprop="about">{{ subject }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if page.features %}
    <h2>{{ site.data.trans.[page.lang].projects.features }}</h2>
    <ul>
      {% for feature in page.features %}
      <li>{{ feature }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if page.techs %}
    <h2>{{ site.data.trans.[page.lang].projects.techs }}</h2>
    <ul>
      {% for tech in page.techs %}
      <li>{{ tech }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
  </div>
</article>
