---
layout: default
---

{% assign current_cat = page.dir | split: "/" | last%}
{% assign projects = site.categories[current_cat] | where: 'lang',page.lang %}

<h1>{{page.title}}</h1>

{% for project in projects %}

<hr class="project-divider">

<div class="row project">
    <div class="col-md-7 {% cycle '', 'push-md-5' %}">
        <h2 class="project-heading">{{project.title}}. {% if project.subtitle %}<span class="text-muted">{{project.subtitle}}.</span>{% endif %}</h2>
	<small>
	    {{ site.data.locales[page.lang].site.created }}: 
	    <span itemprop="datePublished">{{ project.date | date: "%F" }}</span>
	    {% if project.status %}
	    •
	    {% include project_status.html status=project.status %}
	    {% endif %}
	</small>
        <p class="le/ad">{% if project.description %}{{project.description}}.{% endif %}</p>

	{% if project.languages %}
	<span>{{site.data.locales[page.lang].projects.languages}}</span>
	{% for language in project.languages %}
	 {{language}}{%unless forloop.last%}, {%endunless%}
	{% endfor %}
	{% endif %}
	<a href="{{project.url | absolute_url }}">{{site.data.locales[page.lang].site.read_more}}</a>
    </div>
    <div class="col-md-5 {% cycle '', 'pull-md-7' %}">
	{% if project.image %}
	{% assign thumb = project.image | append: "-thumb.png" %}
	{% else %}
	{% assign thumb = "/assets/img/screenshots/noimage-trans.png" %}
	{% endif %}
        <img class="project-image img-fluid mx-auto img-thumbnail " alt="{{project.title}} screenshot" src="{{thumb|absolute_url}}">
    </div>
</div>

{% endfor %}

<hr class="project-divider">
