---
layout: default
---

{% assign current_cat = page.dir | split: "/" | last%}
{% assign projects = site.categories[current_cat] | where: 'lang',page.lang %}

<h1>{{page.title}}</h1>

{% for project in projects %}

<hr class="project-divider">

<div class="row project">
    <div class="col-md-7 {% cycle '', 'push-md-5' %}">
        <h2 class="project-heading">{{project.title}}. {% if project.subtitle %}<span class="text-muted">{{project.subtitle}}.</span>{% endif %}</h2>
        <p class="lead">{% if project.description %}{{project.description}}{% endif %}</p>
    </div>
    <div class="col-md-5 {% cycle '', 'pull-md-7' %}">
        <img class="project-image img-fluid mx-auto" alt="{{project.title}} screenshot">
    </div>
</div>

{% endfor %}

<hr class="project-divider">
